<h1>Cat's attributes</h1>

<h3>Name: <%= @cat.name%></h3>
<h3>Sex: <%= @cat.sex%></h3>
<h3>Color: <%= @cat.color%></h3>
<h3>Birth Date: <%= @cat.birth_date%></h3>

<p>
  Description: <%= @cat.description %>
</p>